.body{
  padding: 0;
  margin: 0;
  background-color: #000000;
}
.App{
  min-width: 600px;
}
.content{
  margin-top:60px;
}

.subnav-bar{
  color: #ff0000;
}

.subnav-bar{
  display: block;

  cursor: pointer;
  border-radius: 5px;
  border: #2d8230;
  border-radius: 5px;
  width: 500px;

}

.subnav-bar a:hover{
  background: #b6b6b6;
}

.subnav-bar a:active{
  background: #a9a9a9;
}

.subnav-update-button,
.subnav-delete-button,
.subnav-insert-button{
  display: inline-block;
  margin: 5px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

.result-title-block{
  display: flex;
}
.subject-row{
  display: flex;
}

.subject-col{
  display: block;
  width: 100px;
  margin: 5px;
  padding: 2px;
}

.Professor-col{
  width: 200px;
  margin: 5px;
  padding: 2px;
  text-align: center;
}
.Department-col{
  width: 100px;
  margin: 5px;
  padding: 2px;
  text-align: center;
}
.Number-col{
  width: 100px;
  margin: 5px;
  padding: 2px;
  text-align: center;
}
.Title-col{
  width: 100px;
  margin: 5px;
  padding: 2px;
  text-align: center;
}
.Section-col{
  width: 100px;
  margin: 5px;
  padding: 2px;
  text-align: center;
}
.Term-col{
  width: 100px;
  margin: 5px;
  padding: 2px;
  text-align: center;
}
.A-Rate-col{
  width: 100px;
  margin: 5px;
  padding: 2px;
  text-align: center; 
}

button{
  border-radius: 5px;
}

/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/
input{
  margin: 5px;  
}

.course-review-section{
  width: inherit;
}

.search-input{
  margin: 5px;
}

.comment-submit-button,
.course-search-button{
  width: fit-content;
  color: white;
  border: none;
  margin: 8px 0;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #3688f4;
}

.search-content,
.user-comment-section,
.other-user-comment-section{
  padding: 10px 5%;
  margin: 20px; 
  width: inherit;
  max-width: 100%;
  box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.2);
  min-width: 200px;
}

.comment-area{
  display: flex;
  padding: 5px;
  width: inherit;
  max-width: inherit;
  flex-direction: column;
}

.comment-form{
  align-content: left;
  display: block;
}

.comment-title{
  margin-bottom: 10px;
  font-size: 18px
}

.user-comment-box{
  border-radius: 5px;
  border-width: 0.5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.116);
  width: 98%;
  padding: 5px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  resize: none;
}

.comment-control{
  width: 100%;
}

.character-limit{
  font-size: 13px;
}

.character-limit,
.comment-submit-button{
  display: block;
}

textarea:focus,
input:focus{
  box-shadow: 0px 0px 10px rgba(39, 169, 255, 0.4);
  outline: 1em auto rgba(77, 184, 255, 0.5);
}

@media screen and (max-width: 300px) {
  .content{
    margin-top: 200px;
  }
}

.comment-text{
  font-size: 13px;
  padding: 5px;
}