.body{
  padding: 0;
  margin: 0;
  background-color: #000000;
}



.content{
  margin-top:60px;
}

.subnav-bar{
  color: #ff0000;
}

.subnav-bar{
  display: block;

  cursor: pointer;
  border-radius: 5px;
  border: #2d8230;
  border-radius: 5px;
  width: 500px;

}

.subnav-bar a:hover{
  background: #b6b6b6;
}

.subnav-bar a:active{
  background: #a9a9a9;
}

.subnav-update-button,
.subnav-delete-button,
.subnav-insert-button{
  display: inline-block;
  margin: 5px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

.result-title-block{
  display: flex;
}
.subject-row{
  display: flex;
}

.subject-col{
  display: block;
  width: 100px;
  margin: 5px;
  padding: 2px;
}

.Professor-col{
  width: 200px;
  margin: 5px;
  padding: 2px;
  text-align: center;
}
.Department-col{
  width: 100px;
  margin: 5px;
  padding: 2px;
  text-align: center;
}
.Number-col{
  width: 100px;
  margin: 5px;
  padding: 2px;
  text-align: center;
}
.Title-col{
  width: 100px;
  margin: 5px;
  padding: 2px;
  text-align: center;
}
.Section-col{
  width: 100px;
  margin: 5px;
  padding: 2px;
  text-align: center;
}
.Term-col{
  width: 100px;
  margin: 5px;
  padding: 2px;
  text-align: center;
}
.A-Rate-col{
  width: 100px;
  margin: 5px;
  padding: 2px;
  text-align: center; 
}
/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/

.comment-area{
  width: 500px;
}
.comment-title{
  text-align: left;
}
.user-comment-box{
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  width: 100%;
  height: 100px;
  overflow: auto;
}
@media screen and (max-width: 300px) {
  .content{
    margin-top: 200px;
  }
}
